:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'Space Grotesk', Georgia, 'Times New Roman', Times, serif, Arial, sans-serif, Courier, monospace;
    margin: 0;
}


/* black #000000
light grey #e5e5e5
white #ffffff
dark blue #14214d
orange #fca311 */

/* very light blue #0466c8
light blue #0353a4
medium blue #023e7d
medium dark blue #002855
dark medium blue #001845
black blue #001233
blue grey #33415c
dark grey #5c677d
grey #7d8597
light grey #979dac
white #ffffff 
*/


/* Typography */

h1 {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Lobster';
}

h2 {
    font-family: 'Lobster', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4.5rem;
}

h2 span {
    font-size: 4rem;
}

h3 {
    font-family: 'Merienda', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.lobster {
    font-family: 'Lobster', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



h3 {
    font-size: 2.5rem;
    font-weight: 800;
}

h4 {
    font-family: 'Lobster', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}

aside {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

aside li {
    font-size: 2rem;
    list-style: none;
    font-weight: 700;
}

p {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.6;
}

nav p {
    color: #5c677d;
    text-shadow: 0 0 1px black;
    font-weight: 800;
}

nav p span {
    color: #001845;
    font-weight: 400;
}

.underline {
    text-decoration: underline;
    font-weight: 800;
}

.services-li {
    font-size: 2.2rem;
    list-style: square repeating-radial-gradient(gold, blue);
    line-height: 1.7;
    font-weight: 700;
}

.center-text {
    text-align: center;
}

.width-box {
    max-width: 30rem;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-between {
    align-items: flex-end;
    height: 100%;
}

.landing-image {
    width: 100%;
    border-radius: 20px;
}

.block {
    display: block;
}

.margin-0-a {
    margin: 0 auto;
}

.button-container {
    margin-top: 3em;
    width: 15rem;
    height: 5rem;
}


/* *** Layout *** */


/* --- Nav Layout --- // */

h1 {
    color: #fca311;
    text-transform: uppercase;
    text-shadow: 0 0 1px black;

}

h1 span {
    display: block;
    color: #001233;
}


.container-width {
    max-width: 120rem;
    margin: 0 auto;
}

.nav-layout {
    justify-content: space-evenly;
    height: 10em;
    border-top: 4px solid #001233;
    border-bottom: 4px solid #001233;
    width: 100%;
    align-items: center;
    background-color: #ffffff
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-button-layout {
    align-items: center;
    list-style: none;
    gap: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav a {
    text-decoration: none;
    color: #001845;
    font-size: 2.5rem;
    font-weight: 700;
    padding: .25em 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
    color: #023e7d;
    text-shadow: 0 0 1px black;

}

.current-page:hover {
    color: #707070;
}


/* --- body layout --- */
.flex {
    display: flex;
}


.flex-width-60 {
    width: 60%;
}

.flex-width-40 {
    width: 40%;
}


h3 {
    color: #001233;
}

h3 span {
    color: #1792d2;
}

.sticky-widget {
    position: sticky;

}

.background-grey {
    background-color: #e5e5e5;
}

.body-padding {
    padding: .5em;
}

.border-circle {
    border-radius: 50%;
    width: 70%;
    color: #fca311;
    justify-content: center;
    padding: 5em;
}



.border-circle p {
    color: #ffffff;
}

.text-white {
    color: white;
}


.background-blue {
    background-color: #00123366;
    color: #ffffff;
}



.text-orange {
    color: #fca311;
}

.border-left-orange {
    border-left: 2px solid #fca311;
}

.margin {
    margin: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.body-li {
    list-style: none;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 800;
}



.border-orange {
    border: 5px solid #fca311;
}

.text-light-blue {
    color: #1792d2;
}


/* fun border */
.border-underline {
    border-bottom: 2px solid #979dac;

}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.margin-top-7 {
    margin-top: 7rem;
}

.gap-2em {
    gap: 2em;
}

.nav-flex {
    display: flex;
}

.flex-width-33 {
    width: 33%;
}

.notary-space-image {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.color-white {
    color: #e5e5e5;
}

.top-10 {
    margin-top: 60rem;
}

.image-width {
    max-width: 50%;
}

.notary-image {
    width: 100%;
    border-radius: 50%;
}

.container-contact-width {
    width: 30rem;
}

.email-collector {
    width: 80%;
    max-width: 300px;
}

.border-contact {
    border: 4px double #001233;
    background-color: #979dac;
    padding: 1em;
    margin-top: 2em;
    color: #001845;
    font-size: 2rem;
}


/* ***Modal*** */
#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#modal {
    background-color: rgba(0, 0, 0, 0);
    max-width: 800px;
    color: white;
    margin: 0 auto;
    padding: 20px;
    height: 500px;
    position: relative;
    top: 30%;
}

#open-modal,
#close-modal {
    background-color: royalblue;
    color: white;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}

.hover-modal:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline gold;
}

/* ***Modal*** */

input {
    width: 100%;
    border-radius: 5px;
}

label {
    text-align: center;
}

input {
    font-family: inherit;
    text-align: center;
    margin-bottom: .75em;
    padding: .25em;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.1);
}

@media (max-width:600px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    nav p {
        font-size: 1.5rem;
    }

    nav p span {
        font-size: 2rem;
    }

    .flex-width-60 {
        width: 100%;
    }

    .border-circle {
        border-radius: 0;
        width: 100%;
    }

    .flex {
        flex: none;
        display: grid;
        place-items: center;
    }

    .body-padding {
        width: 100%;

    }

    h1 {
        margin: 0;
        font-size: 3rem;
    }

    h1 span {
        display: inline;
    }

    h3 {
        font-size: 2rem;
        margin-top: 0;
    }

    h3 span {
        display: block;
        order: 2;
    }

    nav h3 {
        margin-bottom: 0;
    }

    nav p {
        margin: 0;
    }

    .nav-button-layout {
        display: flex;
        margin: 0;
        gap: 8px;
    }

    nav a {
        font-size: 1.5rem;
    }

    .border-left-orange {
        border: none;
    }

    .underline-transition {
        border-bottom: 2px solid #979dac;
    }

    .top-10 {
        margin-top: 10rem;
    }

    .flex-width-40 {
        width: 100%;
    }

    .flex-width-33 {
        width: 100%;
    }

}

.grid-column-span-2 {
    grid-column: span 2;
}


.modal-background {
    border-radius: 2em;
    max-width: 400px;
    padding: 1em;
}



.stamp-image {
    width: 100%;
    border-radius: 2rem;
}

.font-size-plus {
    font-size: 2.4rem;
}

.button {
    display: inline-block;
    padding: 1em 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.button-start {
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    color: white;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 250ms;
}

.button-start:hover,
.button-start:focus {
    transform: scale(1.1);
    color: #14214d;
}


/* Intro animation and @media */

/* Below turned off because it was annoying every time */

.intro-logo-container {
    content: '';
    width: 120rem;
    position: fixed;
    opacity: .07;
}

.fade-out {
    -webkit-animation: fadeout 6s;
    -moz-animation: fadeout 6s;
    animation: fadeout 6s;
}

.image-landing {
    width: 100%;
}



.logo {
    width: 100%;
    height: 100vh;
}

.fadein {
    animation: fadein 3s;

}


/* @keyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: .1
    }
}

@-webkit-keyframeskeyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: .1
    }
}

@-moz-keyframeskeyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: .1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
} */