:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: 'syne', Georgia, 'Times New Roman', Times, serif, Arial, sans-serif, Courier, monospace;
    margin: 0;

}


/* black #000000
light grey #e5e5e5
white #ffffff
dark blue #14214d
orange #fca311 */


/* Typography */

h1 {
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Lobster';
}

h2 {
    font-family: 'Lobster', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4.5rem;
}

h2 span {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
    font-weight: 800;
}

h4 {
    font-family: 'Lobster', cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
}

aside {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

aside li {
    font-size: 2rem;
    list-style: none;
    font-weight: 700;
}

p {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.6;
}

.underline {
    text-decoration: underline;
    font-weight: 800;
}



.services-li {
    font-size: 2rem;
}


.center-text {
    text-align: center;
}

.width-box {
    max-width: 30rem;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
}

/* *** Layout *** */


/* --- Nav Layout --- // */

h1 {
    color: rgb(196, 168, 7);
    transform: rotate(-10deg);
    text-transform: uppercase;
    text-shadow: 0 0 6px blue;

}

h1 span {
    display: block;
    color: rgb(41, 41, 167);
    text-shadow: 0 0 6px gold;
}

.container-width {
    max-width: 120rem;
    margin: 0 auto;

}

.nav-layout {
    justify-content: space-evenly;
    height: 10em;
    border-top: 4px solid #fca311;
    border-bottom: 4px solid #fca311;
    width: 100%;
    align-items: center;
    background-color: #14214d
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-button-layout {
    align-items: center;
    list-style: none;
    gap: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
    z-index: 3;
}

nav a {
    text-decoration: none;
    color: #e5e5e5;
    font-size: 2.5rem;
    font-weight: 700;
    padding: .25em 0;
    z-index: 3;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
    color: #fca311;
    font-weight: 800;
}

.current-page:hover {
    color: #707070;
}


/* --- body layout --- */
.flex {
    display: flex;
}


.flex-width-60 {
    width: 60%;
}

.flex-width-40 {
    width: 40%;
}

h2 span {
    color: #fca311;
    color: #14214d;
    /* text-shadow: 0 0 2px black; */
}

h3 span {
    color: #1792d2;
}

.sticky-widget {
    position: sticky;

}

.background-grey {
    background-color: #e5e5e5;
}

.body-padding {
    padding: .5em;
}

.border-circle {
    border-radius: 50%;
    width: 70%;
    background-color: #14214d;
    color: #fca311;
    justify-content: center;
    padding: 5em;
}

.background-blue-orange {
    background-color: #14214d;
    color: #fca311;
}

.background-blue {
    background-color: #14214d;
    color: #e5e5e5;
}

.text-orange {
    color: #fca311;
}

.border-left-orange {
    border-left: 2px solid #fca311;
}

.margin {
    margin: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.body-li {
    list-style: none;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 500;
}

.border-orange {
    border: 5px solid #fca311;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.margin-top-7 {
    margin-top: 7rem;
}

.button {
    display: inline-block;
    padding: 1em 1em;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.button-start {
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    color: white;
    border-radius: 5px;
    transform: scale(1);
    transition: transform 250ms;
}

.button-start:hover,
.button-start:focus {
    transform: scale(1.1);
    color: #14214d;
}


/* Intro animation and @media */

/* Below turned off because it was annoying every time */

.intro-logo-container {
    content: '';
    width: 120rem;
    position: fixed;
    opacity: .07;
}

.fade-out {
    -webkit-animation: fadeout 6s;
    -moz-animation: fadeout 6s;
    animation: fadeout 6s;
}

.image-landing {
    width: 100%;
}



.logo {
    width: 100%;
    height: 100vh;
}

.fadein {
    animation: fadein 3s;

}


/* @keyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: .1
    }
}

@-webkit-keyframeskeyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: .1
    }
}

@-moz-keyframeskeyframes fadeout {
    from {
        opacity: 1
    }

    to {
        opacity: .1
    }
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
} */